Miniforge3-Linux-x86_64.sh
weapon_detection
yolo11n.pt
yolo26n.pt
yolov8m.pt
yolov8n.pt
Proj final/runs/detect/runs/gun_model
Proj final/runs/detect/runs/detect
Proj final/test.ipynb
runs
mdpdf.log
Weapon_Detection_WebApp_Implementation_Plan.pdf
testv1.py
RPI
logs.txt
pipeline.jpeg
John Wick_ Chapter 2 (2017) - Concert Fight Scene (3_10) _ Movieclips.mp4
10) _ Movieclips.mp4
reinforcement_learning
predict_video.py